/* Bootstrap Override */

body {
  background-color: #f5f5f5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5em;
  margin: 0;
}

h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child {
  margin-bottom: 0;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inverse {
  background-color: #2b3d51;
  border: 0;
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-brand {
  border: 1px solid #fff;
  font-weight: 300;
  height: auto;
  margin: 19px 0 !important;
  padding: 5px;
  text-transform: uppercase;
}

.dropdown-menu {
  margin-top: -10px;
}

.navbar-right .dropdown-menu {
  right: 15px;
}

.media-left {
  padding-right: 20px;
}

/* Custom */

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-profile {
  padding: 15px;
}

.navbar-profile img {
  height: 40px;
  border-radius: 4px;
}

.navbar-profile:hover {
  cursor: pointer;
}

.page_header {
  background-color: #fff;
  border-bottom: 2px solid #eee;
  margin: 0 0 20px 0;
  padding: 20px 0;
}

.page_header h3 {
  font-weight: 300;
}

.page_header span {
  color: #337ab7;
}

.login {
  background-color: #fff;
  border-radius: 5px;
  margin: 100px auto;
  padding: 20px;
  text-align: center;
  width: 400px;
}

.login_title {
  font-weight: 300;
  margin: 0 0 20px 0;
}

.login_github {
  font-weight: 700;
}

.login_github .octicon {
  display: block;
  margin: 0 auto 10px auto;
}

.admin_dashboard_span {
  float: right;
  padding-right: 0 20px 0 0;
}

.admin_dashboard_title {
  float: right;
  padding: 0 0 15px 0;
}

.add_user_form {
  border-bottom: 2px solid #ccc;
  margin: 0 0 40px 0;
  padding: 0 0 40px 0;
}

.ticket_submission_form {
  border-bottom: 2px solid #ccc;
  margin: 0 0 20px 0;
  padding: 0 0 20px 0;
}

#ticket_submission_description {
  height: 34px;
  resize: none;
  transition: all 0.5s ease;
}

#ticket_submission_description:focus {
  height: 102px;
}

#ticket_submission_area {
  margin-top: 10px;
}

#wait_time {
  color: white;
}

#mentor-button{
  margin: 0px 0px 0px 37px;
}

.ticket_list_entry {
  color: #333;
  line-height: 22px;
}

.ticket_list_entry_meta {
  float: left;
}

.ticket_list_entry_name {
  float: left;
  font-weight: 700;
  margin: 0 3px 0 0;
}

.ticket_list_entry_time {
  float: left;
  font-size: 11px;
  font-weight: 700;
  margin: 0 3px 0 0;
}

.ticket_list_entry_claimed {
  float: left;
  font-size: 11px;
  font-weight: 700;
}

.ticket_list_entry_buttons {
  float: right;
}

.ticket_list_entry_buttons .btn {
  margin: 0 5px 0 0;
}

.ticket_list_entry_description {
  clear: both;
}

.alert {
  margin: 0 0 10px 0;
  padding: 7px 7px 7px 10px;
}

.alert-main {
  border-radius: 0;
  font-weight: 700;
  position: fixed;
  text-align: center;
  top: -36px;
  transition: all 0.5s ease;
  width: 100%;
  z-index: 1;
}

.alert-default {
  background-color: #fff;
  border: 1px solid #ddd;
}

.error {
  border-color: #a94442 !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 6px #ce8483 !important;
}

.feedback{
  padding: 20px;
}

#feedback_submission_form_feedback {
  height: 34px;
  resize: none;
  transition: all 0.5s ease;
}

#feedback_submission_form_feedback:focus {
  height: 102px;
}

.mentor_name{
  width: 1000px;
  color: #11758E;
}

#mentor-button{
  background-color: #11758E; 
}
#mentor_full_name{
  margin-left: 20px;
  color:black;
}
.mentor_name_button{
  float: right;
  margin-right: 20px;
}

#feedbacks-button{
  background-color: #11758E;
}

.feedback_content {
  color:black;
  font-size: 15px;
  padding: 5px;
}

.mentor_full_name{
  margin-top: 50px;
  margin-left: 20px;
}

.average{
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 40px;
}

