/* Bootstrap Override */

body {
  background-color: #f5f5f5;
}

.navbar-inverse {
  background-color: #2b3d51;
  border: 0;
  border-radius: 0;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-brand {
  height: 70px;
  padding: 25px 15px;
}

.dropdown-menu {
  margin-top: -10px;
}

.navbar-right .dropdown-menu {
  right: 15px;
}

.media-left {
  padding-right: 20px;
}

/* Custom */

* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.navbar-profile {
  padding: 15px;
}

.navbar-profile:hover {
  cursor: pointer;
}

.login_area {
  margin-top: 10px;
}

.octicon {
  margin-right: 5px;
}

#ticket_submission_description {
  float: left;
  width: 450px;
  height: 34px;
  resize: none;
  transition: all 0.5s ease;
}

#ticket_submission_description:focus {
  float: left;
  width: 450px;
  height: 250px;
}

#ticket_submission_button {
  float: left;
  margin-left: 10px;
}

#ticket_submission_area {
  margin-top: 10px;
}

#ticket_option_dropdown {
  float: left;
  width: 100px;
}

#wait_time {
  color: white;
}

.ticket_list_entry {
  background-color: #fff;
  border: 1px solid #eee;
  border-left: 5px solid #333;
  border-radius: 3px;
  margin: 0 0 20px 0;
  padding: 20px;
}

.ticket_list_entry.category_Angular {
  border-left-color: #b52e31;
}

.ticket_list_entry.category_Backbone {
  border-left-color: #4162a8;
}

.ticket_list_entry.category_Express {
  border-left-color: #259dff;
}

.ticket_list_entry.category_Node {
  border-left-color: #6cc24a;
}

.ticket_list_entry.category_React {
  border-left-color: #00d8ff;
}

.ticket_list_entry_thumbnail img {
  border-radius: 80px;
}

.ticket_list_entry_owner {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.ticket_list_entry_owner .status_Opened {
  background-color: #5cb85c;
}

.ticket_list_entry_owner .status_Claimed {
  background-color: #337ab7;
}

.ticket_list_entry_owner .status_Closed {
  background-color: #d9534f;
}

.ticket_list_entry_meta {
  margin: 0 0 5px 0;
}

.ticket_list_entry_description {
  margin: 0 0 10px 0;
}
